@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }

  body.dyslexic-font {
    @apply font-dyslexic;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

